name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - staging
  schedule:
    - cron: '40 1 * * *'

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: 1

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - rust: stable
          - rust: beta
          - rust: nightly
          - rust: nightly
            os: macos-latest
          - rust: nightly
            os: windows-latest
          - rust: nightly
            target: x86_64-unknown-linux-musl
    runs-on: ${{ matrix.os || 'ubuntu-18.04' }}
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo install cargo-hack
        if: matrix.target == ''
      - run: cargo install cross
        if: matrix.target != ''
      - run: cross test --target ${{ matrix.target }}
        if: matrix.target != ''
      - run: cargo test --all
        if: matrix.target == ''
      - run: cargo hack check --all --ignore-private --feature-powerset --no-dev-deps --lib
        if: matrix.target == ''
      - run: tools/check-minimal-versions.sh
        if: startsWith(matrix.rust, 'nightly') && !startsWith(matrix.os, 'windows') && matrix.target == ''

  build:
    strategy:
      fail-fast: false
      matrix:
        range:
          # This is the minimum supported Rust version of this crate.
          # When updating this, the reminder to update the minimum supported
          # Rust version in README.md and .clippy.toml.
          - 1.51..
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: cargo install cargo-hack
      - run: cargo hack build --all --ignore-private --no-dev-deps --version-range ${{ matrix.range }}

  codegen:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          component: rustfmt
      - run: tools/gen.sh
      - run: git diff --exit-code

  clippy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          component: clippy
      - run: cargo clippy --all --all-features --all-targets

  fmt:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
        with:
          component: rustfmt
      - run: cargo fmt --all -- --check

  docs:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: taiki-e/github-actions/install-rust@main
      - run: cargo doc --no-deps --all --all-features
        env:
          RUSTDOCFLAGS: -D warnings

  shellcheck:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: shellcheck **/*.sh

  # This job doesn't actually test anything, but they're used to tell bors the
  # build completed, as there is no practical way to detect when a workflow is
  # successful listening to webhooks only.
  #
  # ALL THE PREVIOUS JOBS NEEDS TO BE ADDED TO THE `needs` SECTION OF THIS JOB!

  ci-success:
    name: ci
    if: github.event_name == 'push' && success()
    needs:
      - test
      - build
      - codegen
      - clippy
      - fmt
      - docs
      - shellcheck
    runs-on: ubuntu-18.04
    steps:
      - name: Mark the job as a success
        run: exit 0
