name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: -D warnings
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  fuzz:
    uses: taiki-e/github-actions/.github/workflows/fuzz.yml@main
  miri:
    uses: taiki-e/github-actions/.github/workflows/miri.yml@main
    with:
      # NB: sync with test job's --exclude option
      args: --exclude parse-changelog-internal-codegen
      # We cannot use -Zmiri-symbolic-alignment-check due to memchr 2.6.0 bug https://github.com/taiki-e/parse-changelog/commit/376d961a5a8adb79c95bd3b6f7188d138981156f
      miriflags: -Zmiri-strict-provenance -Zmiri-disable-isolation
  msrv:
    uses: taiki-e/github-actions/.github/workflows/msrv.yml@main
  release-dry-run:
    uses: taiki-e/github-actions/.github/workflows/release-dry-run.yml@main
  test:
    uses: taiki-e/github-actions/.github/workflows/test.yml@main
    with:
      # NB: sync with miri job's --exclude option
      test-args: --exclude parse-changelog-internal-codegen
      build-args: --lib
      no-std: false
  tidy:
    uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit
